.jumbotron {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0.5em 0.6em;
  background-color: white;
}

h1 {
  font size: .5em;
}

#mainCopy {
  font-family: 'Raleway', sans-serif;
}

.suggester {
  display: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*button {
  box-shadow: 0 3px 0 0 #007299;
}

button {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}*/

.submit.round {
	border-radius: 24px;
}

#finalMessage1 {
  margin-top:5%;
  font-size: 2em;
  float: left;
  font-family: 'Raleway', sans-serif;
  display: none;
}

#finalMessage2 {
  margin-top:5%;
  font-size: 2em;
  float: left;
  font-family: 'Raleway', sans-serif;
  display: none;
}

#finalMessage3 {
  margin-top:5%;
  font-size: 2em;
  float: left;
  font-family: 'Raleway', sans-serif;
  display: none;
}
