.suggester {
  display: none;
}

#finalMessage1 {
  margin-top:20%;
  font-size: 2em;
  float: left;
  font-family: 'Raleway', sans-serif;
  display: none;
}

#finalMessage2 {
  margin-top:20%;
  font-size: 2em;
  float: left;
  font-family: 'Raleway', sans-serif;
  display: none;
}

#finalMessage3 {
  margin-top:20%;
  font-size: 2em;
  float: left;
  font-family: 'Raleway', sans-serif;
  display: none;
}
